@use "sass:map";

$main-color: #ffeff8;
$text-color: #9a8b92;

$font-base: "Noto Serif JP", "Poppins";

$header-hight-sp: 60px;
$header-hight-pc: 80px;

$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 820px)",
  xl: "screen and (min-width: 1220px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-hight-sp;

  @include mq(md) {
    scroll-padding-top: $header-hight-pc;
  }
}

body {
  font-family: $font-base;
  color: $text-color;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  background: $main-color;
}

//共通クラス

@include mq(sm) {
  .hidden-sm {
    display: none;
  }
}
@include mq(md) {
  .hidden-md {
    display: none;
  }
}
@include mq(lg) {
  .hidden-lg {
    display: none;
  }
}
@include mq(xl) {
  .hidden-xl {
    display: none;
  }
}

.inner {
  padding-inline: 15px;

  @include mq(md) {
    max-width: calc(1200px + 40px * 2);
    margin-inline: auto;
    padding-inline: 40px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;

  @include mq(md) {
    gap: 160px;
  }
}

.heading {
  font-size: 33px;
  font-weight: 450;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @include mq(md) {
    font-size: 55px;
    gap: 24px;
  }

  &::after {
    content: "";
    width: 160px;
    height: 3px;
    background: #fff;

    @include mq(sm) {
    }

    @include mq(md) {
      width: 320px;
      height: 5px;
    }
  }

  &--type2 {
    &::after {
      content: "";
      background: $main-color;
    }
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

//header//

.header {
  height: $header-hight-sp;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  background: #fff;
  border-bottom: 3px solid $main-color;

  @include mq(md) {
    height: $header-hight-pc;
  }
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
  }
}

.header__logo {
  left: 0;
  a {
    img {
      width: 96px;
      display: block;

      @include mq(md) {
        width: 130px;
      }
    }
  }
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;

  @include mq(md) {
    gap: 0;
  }
}

.header-nav {
}

.header__lists {
  display: none;
}

//drawer
.header__nav {
  width: 270px;
  height: calc(100% - $header-hight-sp);
  position: fixed;
  right: 0;
  top: $header-hight-sp;
  background: #fa81b4;
  padding: 40px 15px;
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 90;

  &.is-checked {
    transform: translateX(0);
  }

  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.drawer__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 35px;
  }
}

.header__sns-items {
  display: flex;
}

.header__sus-item {
  a {
    img {
      width: 65px;
    }
    &:hover {
      opacity: 0.6;
      transition: 0.5s;
    }
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: calc(32px - 8px);

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.header__list {
}

.header__link {
  display: inline-block;
  padding-bottom: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;

  @include mq(md) {
    color: #fa81b4;
    font-size: 20px;
    padding-bottom: 0;
    transition: color 0.3s;

    &:hover {
      opacity: 0.4;
      transition: 0.5s;
    }
  }
}

.drawer-icon {
  width: 30px;
  height: 18px;
  position: relative;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(1) {
        top: 9px;
        transform: rotate(45deg);
      }

      &:nth-of-type(3) {
        top: 9px;
        transform: rotate(-45deg);
      }
    }
  }
}
.drawer-icon__bar {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  left: 0;
  background: #fa81b4;
  transition: top 0.4s, transform 0.4s;

  @include mq(md) {
    display: none;
  }

  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: 8px;
  }
  &:nth-of-type(3) {
    top: 16px;
  }
}

main {
}

//fv
.fv {
  background: #fff;
  padding-bottom: 28px;

  @include mq(md) {
    padding-bottom: 90px;
  }
}

.fv__inner {
}

.fv__image {
  display: block;
  text-align: center;

  img {
    width: 320px;
    margin-top: 22px;

    @include mq(md) {
      width: 570px;
      margin-top: 70px;
    }
  }
}

//concept
.concept {
  background: $main-color;
}

.cocept__inner {
}

.heading-contact {
}

.section__head {
}

.concept__slider {
  margin-top: 30px;

  @include mq(md) {
    margin-top: 80px;
  }
}

.concept__swiper {
  padding-right: 30%;

  @include mq(md) {
    padding-right: 30%;
  }
}

.content__swiper {
}

.content__swiper-slide {
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: -5px;
  margin-left: -5px;
  @include mq(md) {
    flex-shrink: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.swiper-pagination {
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  gap: 10px;
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #fff;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #fa81b4;
    }
  }
}

.concept__texts {
  margin-top: 35px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-size: 14px;

  @include mq(md) {
    margin-top: 80px;
    font-size: 20px;
  }
}

.concept__text {
  span {
    color: #fa81b4;
    font-weight: bold;
  }
}

//gallery

.gallery {
  background: #fff;
  border-radius: 20px;
  margin-inline: 15px;

  @include mq(md) {
    border-radius: 50px;
    margin-inline: 70px;
  }
}

.gallery__inner {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(md) {
    padding-top: 95px;
    padding-bottom: 100px;
  }
}

.gallery__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
  padding-inline: 15px;

  @include mq(md) {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-inline: calc(80px / 1200px * 100%);
  }
}

.gallery__card {
  position: relative;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  border-radius: 0 0 10px 10px;
}

.gallery-card__img {
  @include mq(md) {
    flex-shrink: 0;
  }
  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

.gallery-card__text {
  width: 100%;
  height: 25%;
  position: absolute;
  background-color: rgba(255, 158, 228, 0.4);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  color: #ffff;
  font-size: 17px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;

  @include mq(md) {
    font-size: 22px;
  }

  &:hover {
    background-color: rgba(255, 158, 228, 0.8);
    transition: 0.5s;
  }

  &--type2 {
    background-color: rgba(106, 184, 228, 0.4);
    &:hover {
      background-color: rgba(106, 184, 228, 0.8);
      transition: 0.5s;
    }
  }

  &--type3 {
    background-color: rgba(106, 228, 214, 0.4);
    &:hover {
      background-color: rgba(106, 228, 214, 0.8);
      transition: 0.5s;
    }
  }

  &--type4 {
    background-color: rgba(238, 223, 86, 0.4);
    &:hover {
      background-color: rgba(238, 223, 86, 0.8);
      transition: 0.5s;
    }
  }

  &--type5 {
    background-color: rgba(228, 158, 106, 0.4);
    &:hover {
      background-color: rgba(228, 158, 106, 0.8);
      transition: 0.5s;
    }
  }

  &--type6 {
    background-color: rgba(86, 104, 217, 0.4);
    &:hover {
      background-color: rgba(86, 104, 217, 0.8);
      transition: 0.5s;
    }
  }
}

//contact

.contact {
}

.contact__inner {
  padding-inline: calc(40px / 345px * 100%);
  margin-bottom: 100px;

  @include mq(md) {
    padding-inline: calc(250px / 1200px * 100%);
    margin-bottom: 100px;
  }
}

.heading-contact {
  text-align: center;
  font-size: 31px;

  @include mq(md) {
    font-size: 60px;
  }

  &::after {
    content: "";
    width: 290px;

    @include mq(md) {
      width: 650px;
    }
  }
}

.contact__line {
  text-align: center;
  display: block;
  margin-top: 45px;

  @include mq(md) {
    margin-top: 90px;
    flex-shrink: 0;
  }

  img {
    max-width: 260px;
    border-radius: 20px;

    @include mq(md) {
      max-width: 500px;
    }
  }
}

.contact__texts {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 16px;

  @include mq(md) {
    margin-top: 60px;
    font-size: 20px;
    gap: 30px;
  }
}

.contact__text {
  text-align: center;

  span {
    color: #23db51;
    font-weight: bold;
  }

  &--type2 {
    font-weight: bold;
    color: #333;
  }
}

//footer

.footer {
  background-color: #ffff;
  padding-block: 50px;

  @include mq(md) {
    padding-block: 50px 70px;
  }
}

.footer__inner {
}

.footer__logo {
  img {
    width: 182px;
    display: block;
    margin-inline: auto;

    @include mq(md) {
      width: 300px;
    }
  }
}
.footer__menu-item {
}

.footer__copyright {
  background-color: #9a8b92;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 14px 0;
}

//gallery page

.gallery__sub-menu {
}

.sub-menu__inner {
  margin-block: 40px;
  margin-inline: 15px;
}

.sub-items {
  color: #ffff;
  font-size: 20px;

  @include mq(md) {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.sub-items1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sub-items2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.sub-item {
  position: relative;
  padding: 5px 20px;
  background-color: rgba(255, 158, 228, 0.9);

  &:hover {
    background-color: rgba(255, 158, 228, 0.4);
    transition: 0.5s;
  }

  &--type2 {
    background-color: rgba(106, 184, 228, 0.9);
    &:hover {
      background-color: rgba(106, 184, 228, 0.4);
      transition: 0.5s;
    }
  }

  &--type3 {
    background-color: rgba(106, 228, 214, 0.9);
    &:hover {
      background-color: rgba(106, 228, 214, 0.4);
      transition: 0.5s;
    }
  }

  &--type4 {
    background-color: rgba(238, 223, 86, 0.9);
    &:hover {
      background-color: rgba(238, 223, 86, 0.4);
      transition: 0.5s;
    }
  }

  &--type5 {
    background-color: rgba(228, 158, 106, 0.9);
    &:hover {
      background-color: rgba(228, 158, 106, 0.4);
      transition: 0.5s;
    }
  }

  &--type6 {
    background-color: rgba(86, 104, 217, 0.9);
    &:hover {
      background-color: rgba(86, 104, 217, 0.4);
      transition: 0.5s;
    }
  }
  a {
  }
}

.gallery-cake {
}

.cake-cards {
  margin-block: 50px;
}

.cake__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 5px;
}
